.pagination {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.page-link {
    font-family: Roboto Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #474747;
    border: none;
    background-color: transparent;
}

.page-link:hover,
.page-link:active {
    color: #FFBA9D;
    background-color: transparent;
}

@media only screen and (max-width:860px) {
    .pagination {
        gap: 5px;
    }
    .page-link {
        font-size: 14px;
        justify-content: flex-end;
    }
}